# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Logs
logs/
*.log

# Data
*.lock
!github_hot_projects/requirements.txt
github_hot_projects/.pipeline_checkpoint.json

# Environment
.env
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
